<form action='/bookmarks' method='post'>
  <input type='text' placeholder='url...' name='url'>
  <input type='text' placeholder='Title...' name='title'>
  <button type='submit'>Add</button>

  </form>
